biopython==1.86
certifi==2026.1.4
chardet==5.2.0
charset-normalizer==3.4.4
fastobo==0.14.1
future==1.0.0
idna==3.11
isodate==0.6.1
networkx==3.6.1
numpy==2.2.6
pronto==2.7.3
pyparsing==3.3.2
python-dateutil==2.9.0.post0
rdflib==7.0.0
requests==2.32.5
six==1.17.0
tqdm==4.67.3
urllib3==2.6.3
